.slider-container {
    position: relative;
    width: 98%;
    overflow-x: hidden;
    /* Hide horizontal overflow */
}

.slides {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
}

.slides button {
    flex-shrink: 0;
    /* Prevent buttons from shrinking */
}

.arrow {
    cursor: pointer;
    z-index: 10;
}

.arrow:hover {
    background-color: #333;
}